* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: sans-serif;
}

html {
  background: linear-gradient(
    90deg,
    rgba(225, 229, 234, 1) 0%,
    rgba(167, 187, 199, 1) 39%
  );
}

h1 {
  margin: 4rem 0 2rem 0;
  color: #da7f8f;
  font-size: 3rem;
  font-weight: 600;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-align: center;
}

.search {
  min-height: 30vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

form {
  position: absolute;
  width: 30rem;
  background: #57bd84;
  border-radius: 0.7rem;
}

input,
button {
  height: 5rem;
  font-size: 1rem;
}

input {
  outline: none;
  width: 100%;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
}

button {
  width: 6rem;
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0.7rem 0.7rem 0;
  font-weight: bold;
  background-color: rgb(62, 165, 62);
}

input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
  + button {
    display: block;
  }
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
